/* RESET GLOBALE */
/* RESET GLOBALE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #fafafa;
  color: #222;
  font-size: 16px;
  line-height: 1.3;
  padding: 0.5em;
  width: 100%;
}

/* LINK */
a {
  color: inherit;
  text-decoration: underline;
}

/* ELEMENTI BASE */
input, button {
  font-size: 16px;
  padding: 6px 10px;
  margin: 5px 5px 5px 0;
}

button {
  cursor: pointer;
}

/* SEZIONI */
#risultato,
#forse-cercavi,
#stesso-scaffale,
#lista-tutti,
#lista-scaffale,
#tutti-risultati {
  margin-top: 20px;
}

/* TABELLA */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 16px;
}

table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  padding: 0.2em;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

table td:first-child {
  text-align: left;
  font-family: monospace;
  font-weight: 500;
  width: 35%;
}

table td:last-child {
  text-align: right;
  width: 65%;
}