/* RESET GLOBALE */
/* Disabilita zoom automatico su Safari mobile */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: clamp(11px, 3.5vw, 18px);
  -webkit-text-size-adjust: 100%;
  line-height: 1.2;
  background: #fafafa;
  color: #222;
  text-align: left;
}


.homepage p {
  font-size: clamp(11px, 3.5vw, 18px);
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding-top: 0.2em;
  line-height: 1.2;
  text-overflow: ellipsis;
}

h2, h3 {
  font-size: clamp(11px, 3.5vw, 18px);
  -webkit-text-size-adjust: 100%;
  margin: 0;
  line-height: 1.2;
  text-overflow: ellipsis;
}

/* CONTENITORE */
.contenitore {
  max-width: 100vw;
  padding: 0 0.2em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: clamp(11px, 3.5vw, 18px);
  -webkit-text-size-adjust: 100%;
}

/* LINK */
a {
  color: inherit;
  text-decoration: underline;
}

/* TESTO */
p {
  font-size: clamp(11px, 3.5vw, 18px);
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

/* CAMPI E PULSANTI */
input, button {
  font-size: clamp(11px, 3.5vw, 18px);
  -webkit-text-size-adjust: 100%;
  padding: 3px 5px;
  margin: 5px 5px 10px 0;
  border: 1px solid #000;
  background: #fff;
}

button {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

/* SEZIONI RISULTATO */
#risultato,
#forse-cercavi,
#stesso-scaffale,
#lista-tutti,
#lista-scaffale,
#tutti-risultati {
  margin-top: 20px;
}

/* FOOTER */
.footer {
  font-size: clamp(11px, 3.5vw, 18px);
  -webkit-text-size-adjust: 100%;
  padding: 0.2em;
  margin-top: 2em;
}

.colonna-scaffale {
  width: 4ch; /* oppure 50px */
  text-align: right;
  white-space: nowrap;
}

@media (max-width: 768px) {
  #risultato table,
  #forse-cercavi table,
  #stesso-scaffale table,
  #tutti-risultati table {
    width: calc(100% - 0.6em);
    box-sizing: border-box;
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

.homepage {
  padding-right: 0.3em;
  padding-left: 0.3em;
  flex: 1;
}

.barra-ricerca {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4em;
}

/* Linee orizzontali tra le righe della tabella */
table tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#codice-input {
  padding-right: 2em;
  width: fit-content;
  min-width: 13ch;
}

.input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.input-container input {
  padding-right: 2em;
}

.camera-label {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: auto;
  font-size: 1.3em; /* forza una dimensione coerente */
  line-height: 1; /* elimina eredità verticali strane */
}

.camera-inside {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.nascosto-ma-cliccabile {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
}